@import "src/common/styles/variables";

.header {
  background-color: $backGroundColor;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid $primaryColor;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header img {
  width: 60px;
  margin: 5px 10px 0 10px;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loginBlock {
  color: $backGroundColor;

  @import "./src/common/styles/button";
}
