

.header {
    grid-area: h;
    background-color: green;
}

.header img {
    width: 60px;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.loginBlock {
    float: right;
}*/
/*

.loginBlock a {
    color: white;
}*/


.loginBlock {
    color: white;
}