.profileHeaderBlock {
  display: flex;
  height: 320px;
  .profileImgBlock{
    width: 250px;
  }

  h2 {
    color: #333;
  }

  p {
    font-size: 15px;
    line-height: 27px;
    color: #666;
  }
}