.loginWrapper {
  margin: 0 auto;
  height: 650px;
  width: 400px;
  padding-top: 100px;
}

.loginDescription {
  width: 100%;
  margin-left: 30%;
}

.loginBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

}

.loginForm {
  width: 100%;
  margin-left: 30%;

  .buttonBlock {
    margin-left: 90px;

    @import "./src/common/styles/button";

  }

  .captchaBlock {
    img {
      margin-top: 10px;
      height: 80px;
    }

    @import "src/common/styles/input";
  }
}

.loginForm div input {
  width: 60%;
}

.inputBlock {
  height: 80px;

  @import "src/common/styles/input";
}

.warning {
  color: indianred
}