.app-wrapper {
  margin: 0 auto;
  display: grid;

  /*grid-template-areas:*/

  /*"n c";*/

  /*grid-template-columns: 5fr 19fr;*/

  background-color: #f0f2f5;
}

.content {
  margin-left: 290px;
  margin-top: 100px;
  min-height: 90vh;
 }