.dialogs{
    display: flex;
}

.dialogsItems {
    padding: 10px;
    width: 30%;
}

.dialogsItems .active {
    color: gold;

}

.messages {
    padding: 10px;
    width: 70%;
}

.messages .message {

}