.paginator {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.btnBlock {
    width: 70px;
    height:25px ;
}
.prevBtn {
    width: 55px;
    height:31px ;
}

.nextBtn {
    width: 55px;
    height:31px ;
    margin-left: 20px;
}

.pageNumber {
    display: inline-block;
    width: 30px;
    height: 25px;
    padding: 2px;
    border: 1px solid grey;
    text-align: center;
}

.pageNumber .selectedPage {
    font-weight: bold;
    color: black;
}